.spin:hover {
    text-shadow: 0 4px 4px rgba(255, 255, 255, 0.2), 0 6px 6px rgba(255, 255, 255, 0.4), 0 8px 18px rgba(255, 255, 255, 0.8), 0 22px 18px rgba(255, 255, 255, 0.5), 0 -4px 4px rgba(255, 255, 255, 0.2), 0 -6px 6px rgba(255, 255, 255, 0.4), 0 -8px 18px rgba(255, 255, 255, 0.8), 0 -22px 18px rgba(255, 255, 255, 0.5);
    top: 12px;
    animation: mov 0.5s infinite;
}

.jumbotron {
    margin-top: 4em;
    background-color: black;
}

p {
  color: rgba(114, 123, 141, 0.6);
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 4px;
  margin: 20px 0 0;
}

@keyframes mov {
    0% {
        transform: translatey(-30px);
        opacity: 0;
    }
    50% {
        transform: translatey(-15px);
        opacity: 1;
    }
    100% {
        transform: translatey(25px);
        opacity: 0;
    }
}


/* html {
    background: url(img/dogs.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */