html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #913838;
}

body {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: rgba(114, 123, 141, 0.6);
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 4px;
    margin: 20px 0 0;
}

.box {
    padding-top: 1em;
    font-size: 3.4em;
    letter-spacing: -0.045em;
    color: #000;
    text-shadow: 0 1px 1px rgba(231, 220, 220, 0.24), 0 2px 8px rgba(0, 0, 0, 0.77), 0 7px 15px rgba(58, 2, 2, 0.67), 0 14px 19px rgba(82, 0, 0, 0.57);
    height: 100%;
    text-align: center;
    margin: 4% auto;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.77), 0 2px 0 rgba(151, 136, 47, 0.24);
    transition: all 0.2s ease;
}

.spin {
    opacity: 1;
    cursor: pointer;
    transition: all 0.2s ease;
    display: inline-block;
    background-color: rgb(40, 109, 181);
    border-radius: 10px 15px;
}

.spin:hover {
    text-shadow: 0 4px 4px rgba(255, 255, 255, 0.2), 0 6px 6px rgba(255, 255, 255, 0.4), 0 8px 18px rgba(255, 255, 255, 0.8), 0 22px 18px rgba(255, 255, 255, 0.5), 0 -4px 4px rgba(255, 255, 255, 0.2), 0 -6px 6px rgba(255, 255, 255, 0.4), 0 -8px 18px rgba(255, 255, 255, 0.8), 0 -22px 18px rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.2);
    top: 12px;
    animation: mov 0.20s infinite;
}

.fa {
    font-size: xx-large;
    cursor: pointer;
    user-select: none;
    margin-top: 2em;
}

.fa:hover {
    color: darkblue;
}

.features {
    display: inline-block;
}

.box2 {
    text-align: center;
}

@keyframes in {
    0% {
        transform: translatey(-30px);
    }
    50% {
        transform: translatey(-15px);
    }
    100% {
        transform: translatey(0);
    }
}

@keyframes mov {
    0% {
        transform: translatey(-30px);
        opacity: 0;
    }
    50% {
        transform: translatey(-15px);
        opacity: 1;
    }
    100% {
        transform: translatey(25px);
        opacity: 0;
    }
}

footer {
    background-color: blanchedalmond;
    font-family: sans-serif;
    font-size: 2em;
    border-style: 1px solid black;
    color: purple;
    margin: 30px 0 0 150px;
    margin: auto;
    text-align: center;
}